:root {
  --negro: #000000;
  --azul: #14213d;
  --amarillo: #fca311;
  --gris: #e5e5e5;
  --blanco: #ffffff;
  --border-radius: 15px;
  --titulos:"Montserrat", sans-serif;
  --parrafos:"Lora", serif;
}

html,
body,
h1,
p,
article {
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: auto 35px;
  grid-template-columns: 55px 1fr 1fr 55px;
  min-height: 100vh;
}

.lista-usuarios {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  grid-column: 2/4;

  font-family: var(--titulos);
}

.lista-usuarios td{
  padding-left: 15px;
}

.lista-usuarios__encabezado{
  background-color: var(--amarillo);
  height: 55px;
  font-weight: bold;
  text-transform: capitalize;
}

.lista-usuarios__usuario{
  background-color: var(--blanco);
  height: 55px;
}

.lista-usuarios__usuario:nth-child(2n){
  background-color: var(--gris);
}

.boton-permisos{
		padding:5px;
		border: none;
		border-radius: var(--border-radius);
		font-family: var(--titulos);
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		line-height: 1.7em;
		background-color: var(--azul);
		background: linear-gradient(to right, #141e30, #243b55);
		color: var(--blanco);
}