<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    
    <link rel="stylesheet" th:href="@{css/encabezado.css}">
    <link rel="stylesheet" th:href="@{css/registro.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Audiowide&display=swap" rel="stylesheet">
  </head>
  <body>
    <p th:if="${usuarioNuevo.usuario != null}" class="registro__aviso" th:text="${mensaje}"></p>
    <form class="registro" th:action="@{/crearUsuario}" method="POST" th:object="${usuarioNuevo}">
      <h1 class="registro__titulo">Registro</h1>
      <div class="registro__label">
        <label for="username">usuario</label>
        <input th:field="*{usuario}" class="input-login" type="text" />
      </div>
      <div class="registro__label">
        <label for="password">contraseña</label>
        <input th:field="*{contraseña}" class="input-password" type="password" />
      </div>
      <input class="registro__submit" type="submit" value="Registrar" />
    </form>
    <a th:if="${mensaje eq 'El usuario ha sido creado satisfactoriamente'}" class="volver" th:href="@{/}">volver</a>
  </body>
  <script src="js/inicio.js"></script>
</html>
